.header {
  display: flex;
  justify-content: space-between;
  min-height: 3em;
  background-color: rgb(233, 222, 206);
  box-shadow: 0 4px 2px -2px gray;
  width: 100%;
  align-items: center;
  padding: 0 1em;
}

.header__logo {
  font-weight: 700;
  font-size: 1.5em;
  color: black;
}

.header__nav-links {
  display: flex;
}

.header__nav-links > li {
  margin: 0 0.5em;
}

.header__nav-links > li > a {
  color: black;
  font-weight: 600;
}

.header__nav-links > li > a:hover {
  color: rgb(243, 91, 91);
}

.header__nav-link__active {
  border-bottom: 2px solid black;
}
