.quotes {
  width: 45%;
  margin: 2em 0;
}

.quotes__quote {
  font-weight: 600;
}

.quotes__author {
  color: #fb5b53;
  font-weight: 700;
}

/* Wait Animations Starts Here */

/* KEYFRAMES */
@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  75% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

/* GRID STYLING */

.spinner-box {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 0;
}

/* X-ROTATING BOXES */

.configure-border-1 {
  width: 50px;
  height: 50px;
  padding: 2px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb5b53;
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 50px;
  height: 50px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 249, 220);
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
}

/* Wait Animations Ends Here */
